<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<script type = "text/javascript">
  function Redirect() {
     window.location.href = "/offers";
  }
</script> 
<body><br><br>

<!-- Header with full-height image -->
<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-left w3-text-white" style="padding:48px">
    <span class="w3-jumbo w3-hide-small">Always in style</span><br>
    <span class="w3-xxlarge w3-hide-large w3-hide-medium">Start something that matters</span><br>
    <span class="w3-large">A one-stop shopping experience for all your fashion & lifestyle needs.</span>
    <p><a href="#about" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Learn more about us</a></p>
  </div> 
  <div class="w3-display-bottomleft w3-text-grey w3-large" style="padding:24px 48px">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
</header>

<!-- About Section -->
<div class="w3-container" style="padding:128px 16px;" id="about">
  <h3 class="w3-center">ABOUT SNAP UP</h3>
  <p class="w3-center w3-large">Key features of our company</p>
  <div class="w3-row-padding w3-center" style="margin-top:64px">
    <div class="w3-quarter">
      <i class="fa fa-desktop w3-margin-bottom w3-jumbo w3-center"></i>
      <p class="w3-large">Responsive</p>
      <p>Faster response to buyer/market demands.</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-heart w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Passion</p>
      <p>Provide a unique customer experience.</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-diamond w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Design</p>
      <p>A collection of all offers and sales from different brands in on one site.</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-cog w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Support</p>
      <p>Our support is available for use 24/7 from across the world – customers can freely shop from the comfort of their own home.</p>
    </div>
  </div>
</div>

<!-- Sale/Offer Section - -->
<div class="w3-container w3-light-grey" style="padding:28px 16px">
  <div class="w3-row-padding">
    <div class="w3-col m6">
      <h3>SALE IS LIVE</h3>
      <p>Snap Up's Biggest Year Ending Sale</p>
      <p><a href="/offers" class="w3-button w3-black"><i class="fa fa-th"> </i> View Ongoing Sales and Offers</a></p>
      <img src="/Assets/images/sale4.gif" alt="sale" style="width:100%">
    </div>



    <div class="w3-col m6">
      <div id="myCarousel" class="carousel slide" data-ride="carousel" style="width:50%;">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" style="width:500px;">
      <div class="item active">
        <a href="/offers"><img class="w3-image w3-round-large" src="/Assets/images/sale1.gif" alt="Sale" width="500" height="94"></a>
      </div>
      <div class="item">
        <a href="/offers"><img class="w3-image w3-round-large" src="/Assets/images/sale2.gif" alt="Sale" width="500" height="94"></a>
      </div>    
      <div class="item">
        <a href="/offers"><img class="w3-image w3-round-large" src="/Assets/images/sale3.gif" alt="Sale" width="500" height="94"></a>
      </div>


      <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
    </div>
  </div>
    </div>
  </div>
</div>
<!-- Weekly Fashion Tip -->
<div class="w3-container w3-light-grey" style="padding:28px 16px">
  <div class="w3-row-padding">
    <div class="w3-col m6">
      <h3>Weekly Fashion Tip</h3>
      <p>Trending Syle</p>
    <div class="w3-col m6">
      <div id="myCarousel1" class="carousel slide" data-ride="carousel" style="width:50%;">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel1" data-slide-to="1"></li>
      <li data-target="#myCarousel1" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" style="width:500px;">
      <div class="item active">
        <a ><img class="w3-image w3-round-large" src="/Assets/images/men1.jpg" alt="Sale" width="500" height="94"></a>
      </div>
      <div class="item">
        <a ><img class="w3-image w3-round-large" src="/Assets/images/women2.jpg" alt="Sale" width="500" height="94"></a>
      </div>    
      <div class="item">
        <a ><img class="w3-image w3-round-large" src="/Assets/images/kids2.jpg" alt="Sale" width="500" height="94"></a>
      </div>


      <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel1" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel1" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
    </div>
  </div>
    </div>
  </div>
</div>
<!-- Team Section -->
<div class="w3-container" style="padding:128px 16px" id="team">
  <h3 class="w3-center">THE TEAM</h3>
  <p class="w3-center w3-large">The ones who runs Snap Up</p>
  <div class="w3-row-padding w3-grayscale" style="margin-top:64px">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card" style="width:280px"><center>
        <img src="/Assets/images/ali.jpg" alt="Ali" style="width:100%">
        <div class="w3-container">
          <h3>Ali Kiyancicek</h3>
          <p class="w3-opacity">Developer</p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card" style="width:280px"><center>
        <img src="/Assets/images/bhavya1.jpeg" alt="Bhavya" style="width:97%; height:10%">
        <div class="w3-container">
          <h3>Bhavya B S</h3>
          <p class="w3-opacity">Developer</p>
          </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card" style="width:280px; " ><center>
        <img src="/Assets/images/disha.jpg" alt="Disha" style="width:80%;">
        <div class="w3-container">
          <h3>Disha Dilipbhai Patel</h3>
          <p class="w3-opacity">Developer</p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card" style="width:280px "><center>
        <img src="/Assets/images/hong.png" alt="Hong" style="width:83%; height: 290px">
        <div class="w3-container">
          <h3>Hong Viet Nguyen</h3>
          <p class="w3-opacity">Agile Customer</p>
        </div>
      </div>
    </div>
    </div>
  
    <div class="w3-col l3 m6 w3-margin-bottom w3-row-padding w3-grayscale">
      <div class="w3-card" style="width:280px"><center>
        <img src="/Assets/images/maria.jpeg" alt="Maria" style="width:91%">
        <div class="w3-container">
          <h3>Maria Theresa Albufera</h3>
          <p class="w3-opacity">Developer</p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom w3-row-padding w3-grayscale">
      <div class="w3-card" style="width:280px"><center>
        <img src="/Assets/images/ethan.png" alt="Ethan" style="width:74%">
        <div class="w3-container">
          <h3>Ethan Kyle San Juan-Cheong</h3>
          <p class="w3-opacity">Developer</p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom w3-row-padding w3-grayscale">
      <div class="w3-card" style="width:280px"><center>
        <img src="/Assets/images/muskan.jpeg" alt="Muskan" style="width:90%">
        <div class="w3-container">
          <h3>Muskan Sood</h3>
          <p class="w3-opacity">Developer</p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom w3-row-padding w3-grayscale">
      <div class="w3-card" style="width:280px"><center>
        <img src="/Assets/images/yuliya.png" alt="Yuliya" style="width:72%; height: 275px;">
        <div class="w3-container">
          <h3>Yuliya Isgandarova</h3>
          <p class="w3-opacity">Developer</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- FAQ -->
<div class="w3-container" style="padding:128px 16px;" id="faq">
  <div className="container-fluid">
    <div className="titleHolder">
      <h3>Frequently Asked Questions</h3>
      <p>Quidem reiciendis iure, aperiam blanditiis. Alias esse, nam, ea quam</p>
    </div>
    <br>
      <h4>How to setup the theme?</h4>
        <p>Ut per tempor latine fuisset, cu quod posidonium vix. Mei cu erant bonorum, te ius vide maiorum hendrerit. In alii instructior vix, vis et elit maluisset, usu recusabo atomorum ut. Nibh diceret dolores vix et, id omnis adhuc maiestatis vim, ei mel legendos mnesarchum argumentum. Semper nusquam urbanitas sea te.</p>
      <br>
      <h4>Can I change plan or cancel at any time?</h4>
        <p>Postea ceteros corrumpit ius te, eos epicuri intellegebat consequuntur et. Sint quot suscipiantur ea nam. Nam pericula evertitur ut, per et quod nostro, autem augue id has. Virtute epicurei quo te, pri et novum essent senserit.</p>
      <br>
      <h4>How to access through cloud?</h4>
        <p>Eu veritus ancillae suavitate per, cum in appellantur efficiantur. Eum cu clita ponderum lobortis, usu dicat exerci et, eam alii oblique interesset ea. Suas quidam volumus id eam, id populo euripidis temporibus pri. At eum quas putent iriure, fugit tritani sed ad. Per ad magna possim aliquam, est aeque exerci verear an, qui cu modus audire detraxit. Duo ne nostro rationibus, nam mutat omittam evertitur ad, meliore gubergren voluptatum at mel.</p>
      <br>
      <h4>Can I manage multiple task?</h4>
        <p>Mentitum offendit appareat nam ex, mea timeam nonumes pertinacia ne. Autem altera an vix, cu soluta aliquid pro, ne sit natum neglegentur. Ea ridens iudicabit eam, in dico appetere mediocrem nec. Sea idque consetetur no. Sonet minimum ex eam, vis an semper consequuntur definitionem. Vel legimus nostrum hendrerit eu, ea velit facete nec.</p>
      <br>
      <h4>How can I change my password?</h4>
        <p>Usu dolorem ceteros te. Veri exerci ne vix, modo ignota an qui. Ne oblique antiopam quo. Ex quem saepe cum, temporibus comprehensam qui at. Aliquip habemus fierent qui at. No facete omnesque argumentum sea, est tale error nihil ad.</p>
      <br>
      <h4>How to manage my account?</h4>
        <p>Erant vitae alterum in mel, viris rationibus argumentum eu sea. Per ei diceret constituto, ei qui simul intellegam, ut eos dolor ceteros. Altera contentiones et eam. Discere alienum intellegat te duo. Erat dissentiet ei sed, eius dicat ne eum. Id tation everti nam, quo cu magna possit patrioque.</p>

    <div className="quickSupport">
      <h3>Want quick support?</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur velit necessitatibus praesentium aliquid eos in neque recusandae, incidunt esse dolore voluptatum nesciunt quod soluta consequuntur voluptatibus ab excepturi nobis! Porro!</p>
      <Button type="primary" size="large"><i className="fas fa-envelope"></i> Email your question</Button>
    </div>
  </div>
</div>  
</body>
</html>